doctype html
// Layout page allows webpages to reuse the same elements like the nav bar
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    // Favicon Tekenable logo on browser tab
    link(rel='apple-touch-icon' sizes='180x180' href='../public/image/favicon_io/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='../public/image/favicon_io/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='../public/image/favicon_io/favicon-16x16.png')
    link(rel='manifest' href='../public/image/favicon_io/site.webmanifest')
    
    //Bootstrap css link
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
    //select picker for populating table
    link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css' rel='stylesheet' type='text/css')
    block p5js_content
    block style_content
    
  body

    block content
    
    //bootstrap javascript link
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous")