extends layout
block style_content
  link(rel='stylesheet' href='../public/stylesheets/login.css')
block content  
  // Movetru navbar
  nav.navbar.navbar-dark.bg-dark
    .container-fluid
      span.navbar-brand.mb-0.h1 Tekenable Test
      a.nav-item.nav-link(href='/register') Register

  .login-form
    h1 Login Form
    form(action='auth' method='POST')
      input(type='text' name='username' placeholder='Username' required='')
      input(type='password' name='password' placeholder='Password' required='')
      input(type='submit')


  // Links for jQuery and Javascript file to interact with the static HTML and make dynamic
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
  script(src='socket.io/socket.io.js')
  script(src='../public/javascripts/login.js')