extends layout
block style_content
  link(rel='stylesheet' href='../public/stylesheets/register.css')
block content  
  // Movetru navbar
  nav.navbar.navbar-dark.bg-dark
    .container-fluid
      span.navbar-brand.mb-0.h1 Tekenable Test
      a.nav-item.nav-link(href='/login') Login

  .container
    .row
      .register-form
        h1 Update Biometric Details
        form(action='registerUpdate' method='POST')
          input(type='number' name='upperLegLength' placeholder='Choose a Username' required='')
          input(type='number' name='upperLegWidth' placeholder='Choose a Password' required='')
          input(type='submit')

 
  // Links for jQuery and Javascript file to interact with the static HTML and make dynamic
  script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
  script(src='socket.io/socket.io.js')
  script(src='../public/scripts/register.js')